/* CSS Document */

@keyframes error {
  0% {
    background: rgba(128, 0, 3, 0.8);
  }
  50% {
    background: rgba(128, 0, 3, 0.6);
  }
  100% {
    background: rgba(128, 0, 3, 0.8);
  }

}
.loginError {
  font-weight: bold;
  font-size: 18px;
  color: #ccc;
  text-align: center;
  margin: 30px 0 0;
  background-color: rgba(128, 0, 3, 0.8);
  border: 2px solid #1d0001;
  border-radius: 5px;
  padding: 10px;
  animation: error 2s infinite;
}