/* CSS Document */
@transitionSpeed: 0.2s;

@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/Chivo-Regular.ttf");
}
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 900;
  src: url("/static/fonts/Chivo-Black.ttf");
}
@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 900;
  src: url("/static/fonts/Chivo-Italic.ttf");

}
body {
  user-select: none;
  background: #fefefe;
  padding: 0;
  margin: 0;
  font-family: Chivo, snas-serif;
}
.arrowkey {
  // Check these
  /*
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
  -webkit-touch-callout: none;*/
  user-drag: none;
  user-modify: none;
  highlight: none;
  touch-callout: none;

  user-select: none;
  width: 100px;
  height: 100px;
  background: #b3b1b2;
  margin: 3px;
  border-radius: 10px;
  box-shadow: 0 5px 8px #333;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: @transitionSpeed background;
  cursor: pointer;

}
.arrowkey:hover {
  background: #999;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
.cam_arrowkey {
  // Check these
  /*
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
  -webkit-touch-callout: none;*/
  user-drag: none;
  user-modify: none;
  highlight: none;
  touch-callout: none;

  user-select: none;
  width: 50px;
  height: 50px;
  background: #b3b1b2;
  margin: 3px;
  border-radius: 10px;
  box-shadow: 0 5px 8px #333;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: @transitionSpeed background;
  cursor: pointer;

}
.cam_arrowkey:hover {
  background: #999;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
h3 {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;

}
#top {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background: #242424;
  box-shadow: 5px 0 15px #1e1e1e;

}
#arrows {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;

}
#cam_arrows {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;

}
#stream {
  margin-top: 65px;
  width: 644px;
  height: 484px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #969696;
  box-shadow: 0 0 10px #3e3e3e;

}
@media (max-width: 750px ) {
  #stream {
    width: 424px;
    height: 319px;

  }
  #liveStream {
    width: 420px;
    height: 315px;
  }
  .arrowkey {
    height: 80px;
    width: 80px;
  }
  .cam_arrowkey {
    height: 40px;
    width: 40px;

  }
  #arrows {
    width: 240px;
  }

}
@media (max-width: 450px ) {
  #stream {
    width: 324px;
    height: 244px;

  }
  #liveStream {
    width: 320px;
    height: 240px;
  }
  .arrowkey {
    height: 60px;
    width: 60px;
  }
  .cam_arrowkey {
    height: 30px;
    width: 30px;
  }
  #arrows {
    width: 180px;
  }

}
@media (max-width: 320px ) {
  #stream {
    width: 304px;
    height: 229px;

  }
  #liveStream {
    width: 300px;
    height: 225px;
  }
  .arrowkey {
    height: 50px;
    width: 50px;
  }
  .cam_arrowkey {
    height: 25px;
    width: 25px;
  }
  #arrows {
    width: 150px;
  }

}
#upkey {
  background-image: url("../images/arrowUp.png");

}
#downkey {
  background-image: url("../images/arrowDown.png");

}
#rightkey {
  background-image: url("../images/arrowRight.png");

}
#leftkey {
  background-image: url("../images/arrowLeft.png");

}
#cam_upkey {
  background-image: url("../images/cam_arrowUp.png");

}
#cam_downkey {
  background-image: url("../images/cam_arrowDown.png");

}
#cam_rightkey {
  background-image: url("../images/cam_arrowRight.png");

}
#cam_leftkey {
  background-image: url("../images/cam_arrowLeft.png");

}
#cam_default {
  background-image: url("../images/cam_default.png");

}
#live {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: #900;
  border: 2px solid #900;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  width: 55px;
  height: 25px;
  z-index: 20;

}
@keyframes rec {
  0% {
    background-color: rgba(153, 0, 0, 1);
  }
  50% {
    background-color: rgba(153, 0, 0, 0);
  }
  100% {
    background-color: rgba(153, 0, 0, 1);
  }

}
#live>div {
  position: absolute;
  left: 65px;
  top: 3px;
  background-color: #900;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  filter: blur(1px);
  animation: rec 1.5s infinite;

}
#slider {
  position: absolute;
  float: left;
  /*border: 2px solid #030303;*/
  width: 56px;
  height: 410px;
  border-radius: 10px;
  /*background-color: #939393;*/
  top: 90px;
  right: 5px;

}
#track {
  position: absolute;
  width: 2px;
  height: 426px;
  margin: 5px 26px;
  background-color: #000;
  z-index: 1;

}
#grabthing {
  position: relative;
  width: 48px;
  height: 25px;
  margin: 4px;
  background-color: #ababab;
  border: 1px solid #030303;
  box-shadow: 1px 1px 5px #2e2e2e;
  z-index: 2;
  cursor: n-resize;
  transition: @transitionSpeed background-color;

}
#grabthing:hover {
  background-color: #d3d3d3;

}
#speedVal {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-weight: bold;

}
#logout {
  color: white;
  text-decoration: none;
  float: right;
  margin-top: -27px;
  margin-right: 15px;

}
#logout:hover {
  font-weight: bold;
  margin-right: 13px;

}
#chpassword {
  color: white;
  text-decoration: none;
  float: left;
  margin-top: -27px;
  margin-left: 15px;

}
#chpassword:hover {
  font-weight: bold;
  margin-left: 13px;

}
.piStats {
  text-align: center;
  position: absolute;
  top: 580px;
  right: 10px;
  width: 180px;
  height: 230px;
  background-color: #ccc;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 2px 20px black;

}
.sideBar {
  position: absolute;
  background-color: #ccc;
  border-radius: 5px;
  padding: 2px;
  width: 120px;
  height: 600px;
  box-shadow: 5px 5px 20px #000;
  overflow: hidden;
  left: -105px;
  text-align: center;
  z-index: 50;

}
.showsidebar {
  text-align: right;
  padding-right: 5px;
  width: 120px;
  height: 30px;
  background-color: #666;
  margin-top: -2px;
  margin-left: -2px;
  line-height: 30px;
  font-weight: bold;
  transition: @transitionSpeed background-color;

}
.showsidebar:hover {
  background-color: #333;

}
.lightSwitch {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  box-shadow: 0 0 20px #fff;
  background-color: #111;
  border: 2px solid #666;
  transition: @transitionSpeed background-color, @transitionSpeed color;

}
.lightSwitch:hover {
  color: #999;

}
.ai,
.rec,
.rec_view {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  box-shadow: 0 0 20px #fff;
  background-color: #111;
  border: 2px solid #666;
  transition: @transitionSpeed background-color, @transitionSpeed color;

}
.ai:hover,
.rec:hover,
.rec_view:hover {
  color: #999;

}
.cover {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #fff;

}
#recIndic {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 8px;
  left: 163px;
  border-radius: 10px;
  animation: rec 3s infinite;

}
.rec_window {
  text-align: center;
  font-size: 24px;
  display: none;
  position: absolute;
  z-index: 21;
  left: 50%;
  top: 105px;
  margin-left: -310px;
  width: 620px;
  background-color: #999;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #000;

}
.rec_window>#rec_window_close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #444;
  position: absolute;
  border-radius: 15px;
  top: 7px;
  left: 583px;
  transition: @transitionSpeed background-color;
  background-image: url("../images/cross.png");
  background-size: contain;

}
.rec_window>#rec_window_close:hover {
  background-color: #232323;

}
#rec_window_content>div {
  margin-top: 25px;

}
#rec_startstop {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background-color: #555;
  background-image: url("../images/videoplay.png");
  background-size: contain;
  float: right;
  position: relative;
  left: -168px;
  top: -9px;
  transition: @transitionSpeed background-color, @transitionSpeed color;

}
#rec_startstop:hover {
  background-color: #333;

}
#laser {
  position: absolute;
  right: 10px;
  width: 75px;
  height: 75px;

  background-color: rgb(228, 228, 37);
  background-image: url("../images/laser.png");
  background-size: cover;
  border: 2px solid #f5ba00;
  border-radius: 50px;

  transition: @transitionSpeed background-color;

}
#laser:hover {

  background-color: rgb(216, 130, 0);

}
.stat_title {
  font-weight: bold;

}
.stat_val {
  font-style: italic;

}
.piStats>h5 {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;

}
.piStats>h4 {
  font-weight: bold;
  font-size: 20px;
}