doctype html

html
  head
    title 404 - Not Found
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  body
    h1 404 - Not Found
    p
      | The path &nbsp;
      strong <%= path %>
      | &nbsp; could not be found
