doctype html

html
  head
    title PiNet
    link(type='text/css', rel='stylesheet', href='/static/css/admin.css')
    link(type='text/css', rel='stylesheet', href='/static/modules/bootstrap/dist/css/bootstrap.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

  body(unselectable='on')
    div(class="navbar navbar-default navbar-static-top", role="navigation")
      div.container
        div.navbar-header
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand" href="#") PiNet - Controller Room
            #recIndic(style='display: ;')
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li

          ul(class="nav navbar-nav navbar-right")
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                strong <%= username %>
                b.caret
              ul.dropdown-menu
                li
                  a(href='/user/changepassword') Change Password
                li
                  a(href='/user') Controller room
            li
              a(href='/logout') Logout

    div.container
      h1 Admin Corner

      .row
        .col-md-8
          .table-responsive
            table.table.table-hover.socket-table
              thead
                tr
                  th #
                  th Socket ID
                  th User name
                  th Login Date
              tbody
        .col-md-4
          .table-responsive
            table.table.table-hover.user-table
              thead
                tr
                  th User ID
                  th Username
                  th Access
              tbody

  script(type='text/javascript', src='/static/modules/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='/static/modules/jquery-ui/jquery-ui.min.js')
  script(type='text/javascript', src='/static/modules/bootstrap/dist/js/bootstrap.min.js')
  script(type='text/javascript', src='/static/modules/socket.io-client/socket.io.js')
  script(type='text/javascript', src='/static/js/admin.js')
