doctype html

html
  head
    title PiNet
    link(type='text/css', rel='stylesheet', href='/static/css/style.css')
    link(type='text/css', rel='stylesheet', href='/static/css/login.css')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')

  body(unselectable='on')
    #top
      h3 Welcome to PiNet control room

    .maincontent
      #loginbox.loginbox
        h2  Login

        form(method='post')
          input#inputName.input(type='text', name='username', placeholder='Username')
          input#inputPass.input(type='password', name='password', onkeypress='submitEnter(event)', placeholder='Password')
          input#submitbutton(type='button', value='Sign In')
        #Error

    script(type='text/javascript', src='/static/modules/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/static/js/login.js')
