doctype html

html
  head
    title PiNet
    link(type='text/css', rel='stylesheet', href='/static/css/passwd.css')
    link(type='text/css', rel='stylesheet', href='/static/css/login.css')
    link(type='text/css', rel='stylesheet', href='/static/modules/bootstrap/dist/css/bootstrap.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

  body(unselectable='on')
    div(class="navbar navbar-default navbar-static-top", role="navigation")
      div.container
        div.navbar-header
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand" href="#") PiNet - Controller Room
            #recIndic(style='display: ;')
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li

          ul(class="nav navbar-nav navbar-right")
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                strong <%= username %>
                b.caret
              ul.dropdown-menu
                li
                  a(href='/user/changepassword') Change Password
                li
                  a(href='/user') Controller room
            li
              a(href='/logout') Logout

    div.container
      .row
        .col-sm-4.col-sm-offset-4
          h2 Change Password

          form(method='post', role="form")
            .form-group
              label.control-label(for='oldPassword') Old Password
              input#oldPassword.form-control(type='password', name='oldPassword', onkeypress='nameEnter(event)' placeholder='Enter Old Password')
            .form-group
              label.control-label(for='newPassword') New Password
              input#newPassword.form-control(type='password', name='newPassword', onkeypress='submitEnter(event)', placeholder='Enter New Password')
            .form-group
              label.control-label(for='newPasswordAgain') Retype new Password again
              input#newPasswordAgain.form-control(type='password', name='newPasswordAgain', onkeypress='submitEnter(event)', placeholder='Enter New Password again')

            button#submitbutton(class='btn btn-default') Confirm
          #Error
          #Success

  script(type='text/javascript', src='/static/modules/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='/static/modules/jquery-ui/jquery-ui.min.js')
  script(type='text/javascript', src='/static/modules/bootstrap/dist/js/bootstrap.min.js')
  script(type='text/javascript', src='/static/modules/socket.io-client/socket.io.js')
  script(type='text/javascript', src='/static/js/passwd.js')
