doctype html

html
  head
    title PiNet
    link(type='text/css', rel='stylesheet', href='/static/css/style.css')
    link(type='text/css', rel='stylesheet', href='/static/modules/bootstrap/dist/css/bootstrap.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

  body(unselectable='on')
    div(class="navbar navbar-default navbar-static-top", role="navigation")
      div.container
        div.navbar-header
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand" href="#") PiNet - Controller Room
            #recIndic(style='display: ;')
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li

          ul(class="nav navbar-nav navbar-right")
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                strong <%= username %>
                b.caret
              ul.dropdown-menu
                li
                  a(href='/user/changepassword') Change Password
                <% if (admin) { %>
                li
                  a(href='/user/admin') Admin
                <% } %>
            li
              a(href='/logout') Logout
    .cover
    .rec_window
      | The Recordings
      #rec_window_close
      #rec_window_content

    .sideBar
      .showsideBar
      .component-btn.lightSwitch
        | Off
      span Lights
      .component-btn.ai
        | Off
      span AI
      .component-btn.rec
        | Off
      span REC
      .component-btn.rec_view
        | View
      span All Recordings

    #slider
      #track
      #grabthing
        p.highSpeed 100%

    div.container
      .row
        .col-md-8.col-md-offset-2.robotView
          #live LIVE
            div
          img.img-responsive#imageStream
      br
      .row
        .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4.col-lg-4.col-lg-offset-4.arrowTable
          table
            tr
              td
              td
                #upkey.arrow
              td
                #laser
            tr
              td
                #leftkey.arrow
              td
                #downkey.arrow
              td
                #rightkey.arrow

        .col-sm-3.col-md-2.col-sm-offset-1.piStats.visible-sm.visible-md.visible-lg
          h4 Pi Stats
          h5 CPU
          span.stat_title Boot time:
          span#stat_boot.stat_val -
          br
          span.stat_title CPU Load:
          span#stat_load.stat_val 0%
          br
          h5 RAM
          span.stat_title Free RAM:
          span#stat_freeRam.stat_val 0%
          br
          span.stat_title Total RAM:
          span#stat_totalRam.stat_val 0GB
          br
      br
      .row
        .col-xs-4.col-xs-offset-4.col-sm-4.col-sm-offset-4.col-lg-2.col-lg-offset-5.arrowTable
          table
            tr
              td
              td
                #cam_upkey.arrow
              td
            tr
              td
                #cam_leftkey.arrow
              td
                #cam_downkey.arrow
              td
                #cam_rightkey.arrow
            tr
              td
              td
                #cam_default.arrow
              td

  script(type='text/javascript', src='/static/modules/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='/static/modules/jquery-ui/jquery-ui.min.js')
  script(type='text/javascript', src='/static/modules/bootstrap/dist/js/bootstrap.min.js')
  script(type='text/javascript', src='/static/modules/socket.io-client/socket.io.js')
  script(type='text/javascript', src='/static/js/room.js')
